
.table-scroll{

    overflow: auto;
    height: 530px;

}


.body-login{
  background-image: url('../assets/img/fondo.jpg');
  background-size: cover;
}

.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.h2-login{
  margin-top: 30px;
  font: 700 40px "Open Sans";
  margin-bottom: 90px;
  color: white;
}
.btn-success-login{
  border-radius: 7px;
  font-size: 18px;
  color: white;
  margin-top: 20%;
  background: linear-gradient(to right, rgb(79, 146, 179), rgb(74, 140, 173), rgb(68, 135, 168), rgb(63, 129, 162), rgb(58, 124, 156), rgb(53, 118, 151), rgb(47, 113, 145), rgb(42, 107, 140), rgb(37, 102, 134), rgb(32, 96, 128), rgb(26, 91, 123), rgb(21, 85, 117));
  border-style: none;
  width: 100%;
  height: 45px;
}
.btn-success-login:hover{
  background-image: linear-gradient(to right, rgb(139, 150, 156), rgb(136, 151, 159), rgb(132, 153, 162), rgb(129, 154, 165), rgb(126, 155, 168), rgb(122, 156, 171), rgb(119, 158, 174), rgb(115, 159, 177), rgb(112, 160, 180), rgb(109, 161, 183), rgb(105, 163, 186), rgb(102, 164, 189));
  border-top-style: none;
}


.btn-success{
  border-radius: 3px;
  font-size: 18px;
  color: white;
  background: linear-gradient(to right, rgb(79, 146, 179), rgb(74, 140, 173), rgb(68, 135, 168), rgb(63, 129, 162), rgb(58, 124, 156), rgb(53, 118, 151), rgb(47, 113, 145), rgb(42, 107, 140), rgb(37, 102, 134), rgb(32, 96, 128), rgb(26, 91, 123), rgb(21, 85, 117));
  border-style: none;


}
.btn-success:hover{
  background-image: linear-gradient(to right, rgb(139, 150, 156), rgb(136, 151, 159), rgb(132, 153, 162), rgb(129, 154, 165), rgb(126, 155, 168), rgb(122, 156, 171), rgb(119, 158, 174), rgb(115, 159, 177), rgb(112, 160, 180), rgb(109, 161, 183), rgb(105, 163, 186), rgb(102, 164, 189));
  border-style: none;
}

.img.error {
    position: absolute;
    left: 350px;
}

.form {
  min-height: 70vh;
  background-color: #77bdea95;
  border-radius: 10px;
  width: 440px;
}


.small-text-login{
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  color: white;
}

.lost-password{
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  color: white;
}
.lost-password:hover{
  text-decoration: none;
}

.contenedor{
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.cargando{
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
}

.bg-color{
  background-color: #494e6b;
}

.bg-color-nav{
  background-color: #6C757D;
}

.half-circle-spinner, .half-circle-spinner * {
      box-sizing: border-box;
    }

    .half-circle-spinner {
      width: 200px;
      height: 200px;
      border-radius: 100%;
      position: relative;
    }

    .half-circle-spinner .circle {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      border: calc(200px / 10) solid transparent;
    }

    .half-circle-spinner .circle.circle-1 {
      border-top-color: #1d9bbd;
      animation: half-circle-spinner-animation 1s infinite;
    }

    .half-circle-spinner .circle.circle-2 {
      border-bottom-color: #1d9bbd;
      animation: half-circle-spinner-animation 1s infinite alternate;
    }

    @keyframes half-circle-spinner-animation {
      0% {
        transform: rotate(0deg);

      }
      100%{
        transform: rotate(360deg);
      }
    }
